
#memory_board {
	display: inline-block;
	background: lightblue;
	border: 1px solid #CCC;
	width: 800px;
	height: 540px;
	padding: 24px;
	

}

#memory_board > div {
	background: url(../images/cardback.jpg) no-repeat;
	background-size: cover;
	border: 1px solid black;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
}

#panel {
	display: inline-block;
	position: relative;
	width: 17%;
	bottom: 200px;
}

.score-heading,
#score {
	text-align: center;
	font-size: 3em;
}

#score {
	font-size: 5rem;
}

#song {
	width: 100%;
}




